@use "/node_modules/bootstrap/scss/bootstrap.scss";

input::-webkit-inner-spin-button, 
input::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0;
}
.first{
  border: 0px;
}
.second{
  border: 2px solid red;
}
a{
  text-decoration: none;
}